<ul class="small-clock-grid-3">

  <h1>Soundcloud found for <%=@params.capitalize%></h1>

  <%@tracks.each do |track|%>
    <li>
      <div class="row">
      <div class="small-8 columns">
        <img src="<%=track.artwork_url%>"></img>
        <%=track.title%>
        <audio controls>
            <source src=<%=track.stream_url+'?client_id='+ENV["CLIENT_ID"] %> type="audio/ogg">
        </audio>
          <%=form_for :song, url: songs_path do |f| %>
            <%= f.hidden_field :stream_url,:value => track.stream_url %>
            <%= f.hidden_field :user_id,:value => current_user.id %>
            <%= f.hidden_field :title,:value => track.title %>
            <%= f.hidden_field :artist,:value => track.artist %>
          <%=f.submit%>
          <%end%>
      </div>
    </div>
  </li>
  <%end%>
</ul>